modules = ["python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cacert", "cairo", "chromedriver", "ffmpeg-full", "freetype", "gdb", "ghostscript", "gitFull", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libcxx", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "tcl", "tk", "xsimd", "zeromq", "zlib"]

[userenv]

[userenv.shared]
EXCHANGE_RATE_API_KEY = "ff7fc24c92b2c8b1c652d1b9"
